<form action="/cadastrado" method="POST">
    <br>
    <label for="nome">Nome:</label>
    <br>
    <input type="text" name="nome">
    <br>
    <label for="matricula">Matricula:</label>
    <br>
    <input type="number" name="matricula">
    <br><br>
    <input type="submit">
</form>
<br>
<a href="/"><button>Cancelar</button></a>